.search_container{
    width: 100%;
    &_input{
        width: 90%;
        height: 30px;
    }
    &_buttons{
        display: flex;
        justify-content: center;
        button{
            width: 20%;
            height: 30px;
        }
    }
}
.button_active{
    background-color: aqua;
}