.filmlist{
    &_wrapper{
        margin-top: inherit;
        padding-bottom: 20px;
        width: 100%;
        
    }
    &_grid{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        list-style-type: none;
        padding: 5px 0px 0px 0px;
        margin: 0px 0px;
    }
    &_container_for{
        color:white;
        position: relative;
        width: 300px;
        height: 450px;
        justify-self: center;
        &_item{
            position: relative; 
            cursor: pointer;
            display: inline-block;
            width: 95%;
            height: 95%;
            left: 2.5%;
            top: 2.5%;
            img{
                width: 100%;
                height: 80%;    
            }
        }

    }
    &_filmdata{
        height: 20%;
        &_title{
            width: 100%;
            height: 50%;
            color:white;
            word-break: break-all; 
            line-height: 100%;
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
        }
        &_genres{
            height: 50%;
            color:greenyellow;
            font-size: 15px;
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical; 
        }
    }

    &_avarage{
        color:black;
        position: absolute;
        top: 1%;
        left:2.5%;
        width:30px;
        height: 30px;
        border: 2px solid white;
        border-radius: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: 600;
    }
}

.avg_green{
    background-color: green;
}
.avg_yellow{
    background-color:  yellow;
}
.avg_red{
    background-color: red;
}
.filmlist_container_for:hover{
    background-color: white;
    .filmlist_filmdata_title{
        color: black;
    }
    .filmlist_filmdata_genres{
        color: black;
    }
} 
@media(max-width:520px){
    .filmlist_container_for{
        width: 100px;
        height: 200px;
    }
    .filmlist_filmdata_title{
        font-size: 10px;    
    }
    .filmlist_filmdata_genres{
        font-size: 1%;
    }
    .filmlist_avarage{
        width: 15px;
        height: 15px;
        font-size: 10px;
    }
}
